---
import AboutSection from "@components/about/AboutSection.astro";
import ExperienceSection from "@components/experience/ExperienceSection.astro";
import ProjectSection from "@components/projects/ProjectSection.astro";
import Iam from "@components/ui/Iam.astro";
---

<div>
  <div class="mb-14 container">
    <Iam />
  </div>

  <ExperienceSection />
  <ProjectSection />
  <AboutSection />
</div>
