---
import Section from "@components/ui/Section.astro";
import { getI18n } from "@i18n/index";
import { Image } from "astro:assets";

const translate = getI18n({ locale: Astro.currentLocale });
---

<Section
  id="about"
  title={translate["UI"]["nav.about"]}
  bg="bg-paper-light dark:bg-paper-dark"
>
  <div>
    <p>
      {translate["ABOUT"]["DESCRIPTION"]}
    </p>

    <div class="mt-10">
      <h2 class="font-extrabold font-serif text-lg">
        {translate.SKILLS.TITLE}
      </h2>

      <div>
        <div
          class="mt-2 grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] flex-wrap gap-5"
        >
          {
            translate["SKILLS"]["FRAMEWORKS_AND_LIBRARIES"].map((s) => (
              <div class="w-fit flex items-center gap-2">
                <div class="group w-10 h-10 border-2 relative rounded-md border-slate-200 dark:border-[#484848] shadow-md hover:scale-110 hover:grayscale">
                  <Image
                    class="rounded-md absolute inset-0 m-auto"
                    src={"/" + s.icon}
                    alt={s.name.toString()}
                    loading="eager"
                    width="30"
                    height="30"
                  />
                </div>
                <p class="w-max font-serif dark:text-white font-semibold">
                  {s.name}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Section>
