---
import SocialProfile from "./SocialProfile.astro";
---

<div
  class="flex flex-col gap-4 my-4 md:flex-row container mx-auto h-16 items-center justify-between"
>
  <p class="flex-1 font-serif font-bold text-sm order-2 sm:order-1">
    &copy; 2024 Marcelo del Rio. All rights reserved.
  </p>
  <div class="order-1 sm:order-2"><SocialProfile /></div>
</div>
