---
import MovileMenu from "./MovileMenu.astro";
import Navbar from "./Navbar.astro";
import ToggleTheme from "./ToggleTheme.astro";
import { getI18n } from "@i18n/index";

const translate = getI18n({ locale: Astro.currentLocale });
---

<header
  id="header"
  class="sticky top-0 z-50 transition-all duration-300 h-16 bg-background-light dark:bg-background-dark"
>
  <div class="container mx-auto h-full flex items-center justify-between">
    <a
      href="/"
      class="font-sans font-bold text-black dark:text-white min-w-max"
    >
      {translate["UI"]["title"]}
    </a>

    <div class="hidden md:block flex-1">
      <Navbar />
    </div>

    <div class="flex justify-end items-center gap-10">
      <ToggleTheme />

      <a href={translate["ABOUT"]["CONTACT"]["CV"]} class="btn hidden md:block">
        {translate["UI"]["button.cv"]}
      </a>

      <div class="flex md:hidden">
        <MovileMenu />
      </div>
    </div>
  </div>
</header>

<script is:inline>
  const headerElement = document.getElementById("header");

  const handleOnScroll = (element) => () => {
    const scrollPosition = window.scrollY;

    if (scrollPosition > 50) {
      element.classList.add("h-20", "shadow-md");
      element.classList.remove("h-16");
    } else {
      element.classList.add("h-16");
      element.classList.remove("h-20", "shadow-md");
    }
  };

  document.addEventListener("scroll", handleOnScroll(headerElement));

  document.addEventListener("astro:after-swap", (ev) => {
    const newHeaderElement = ev.target.getElementById("header");

    ev.target.addEventListener("scroll", handleOnScroll(newHeaderElement));
  });
</script>
