---
import { getI18n } from "@i18n/index";
import SocialProfile from "./SocialProfile.astro";

const translate = getI18n({ locale: Astro.currentLocale });
---

<div
  id="home"
  class="w-full sm:w-3/4 mt-24 md:mt-0 h-3/4 md:h-[calc(100vh-350px)] flex flex-col justify-center"
>
  <h1
    class="text-black dark:text-white font-extrabold font-serif text-3xl sm:text-4xl md:text-6xl"
  >
    <span class="text-primary-dark">{translate["ABOUT"].IAM}</span>
    {translate["ABOUT"].NAME}
  </h1>
  <p class="text-sm mt-5">
    {translate["ABOUT"].SUMMARY}
  </p>
  <div class="mt-7">
    <SocialProfile />
  </div>
</div>
