---
import { getI18n } from "@i18n/index";

const translate = getI18n({ locale: Astro.currentLocale });

const { name, summary } = Astro.props;
---

<div
  id="home"
  class="animate-on-scroll w-full sm:w-3/4 mt-24 md:mt-0 h-3/4 md:h-[calc(100vh-350px)] flex flex-col justify-center animate-fade-in"
>
  <h1
    class="text-black dark:text-white font-extrabold font-serif text-3xl sm:text-4xl md:text-6xl"
  >
    <span class="text-primary-dark">{translate["ABOUT"].IAM}</span>
    {name}
  </h1>
  <p class="text-sm mt-5">
    {summary}
  </p>
  <div class="mt-7">
    <slot />
  </div>
</div>
