---
import MovilMenuIcon from "@assets/icons/MovilMenuIcon.astro";
import { getI18n } from "@i18n/index";

const translate = getI18n({ locale: Astro.currentLocale });
---

<button id="movile-menu-btn">
  <MovilMenuIcon class="hover:stroke-primary-dark duration-500" />
</button>

<div
  id="movile-menu"
  class="absolute hidden h-screen left-0 right-0 top-16 bg-background-light dark:bg-background-dark transform transition duration-300"
>
  <ul
    id="movile-menu-list"
    class="bg-inherit font-medium flex flex-col p-4 md:p-0 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0"
  >
    <li>
      <a
        href="#experience"
        class="block py-2 px-3 rounded md:bg-transparent hover:bg-primary-dark hover:text-black duration-200"
        >{translate.UI["nav.experience"]}</a
      >
    </li>
    <li>
      <a
        href="#projects"
        class="block py-2 px-3 rounded md:bg-transparent hover:bg-primary-dark hover:text-black duration-200"
        >{translate.UI["nav.projects"]}</a
      >
    </li>
    <li>
      <a
        href="#about"
        class="block py-2 px-3 rounded md:bg-transparent hover:bg-primary-dark hover:text-black duration-200"
        >{translate.UI["nav.contact"]}</a
      >
    </li>
    <li>
      <a
        href="#about"
        class="block py-2 px-3 rounded md:bg-transparent hover:bg-primary-dark hover:text-black duration-200"
        >{translate.UI["nav.about"]}</a
      >
    </li>
  </ul>
</div>

<script is:inline>
  const movileMenuPanel = document.getElementById("movile-menu");
  const movileMenuList = document.getElementById("movile-menu-list");

  document.getElementById("movile-menu-btn").addEventListener("click", () => {
    console.log("CLICK")
    const isOpen = movileMenuPanel.classList.contains("!block");

    movileMenuPanel.classList[isOpen ? "remove" : "add"]("!block")
  });

  movileMenuList.addEventListener("click", (event) => {
    if (event.target.tagName === "A") {
      movileMenuPanel.classList.remove("!block");
    }
  });
</script>
