---
import { getI18n } from "@i18n/index";

const translate = getI18n({ locale: Astro.currentLocale });
---

<nav class="flex-1">
  <ul class="flex gap-10 items-center justify-center">
    <li class="text-primary-subtitle text-sm">
      <a
        class="hover:text-primary-dark dark:hover:text-primary-dark"
        href="#experience">{translate.UI["nav.experience"]}</a
      >
    </li>
    <li class="text-primary-subtitle text-sm">
      <a
        class="hover:text-primary-dark dark:hover:text-primary-dark"
        href="#projects">{translate.UI["nav.projects"]}</a
      >
    </li>
    <li class="text-primary-subtitle text-sm">
      <a
        class="hover:text-primary-dark dark:hover:text-primary-dark"
        href="#about">{translate.UI["nav.about"]}</a
      >
    </li>
    <li class="text-primary-subtitle text-sm">
      <a
        class="hover:text-primary-dark dark:hover:text-primary-dark"
        href="#contact">{translate.UI["nav.contact"]}</a
      >
    </li>
  </ul>
</nav>
