---
interface Props {
  id: string;
  title: string;
  bg?: string;
}

const { id, title, bg } = Astro.props;
---

<section id={id} class:list={["py-14", bg]}>
  <div class="container">
    <div class="text-4xl font-extrabold font-serif mb-7 md:mb-14 text-center">
      {title}
    </div>

    <slot />
  </div>
</section>
