---
import GithubIcon from "@assets/icons/GithubIcon.astro";
import LinkedinIcon from "@assets/icons/LinkedinIcon.astro";
import EmailIcon from "@assets/icons/EmailIcon.astro";

const { githubUrl, linkedinUrl, emailUrl } = Astro.props;
---

<ul class="flex gap-5">
  <li>
    <a href={githubUrl} target="_blank" aria-label="Github">
      <GithubIcon
        class="fill-black dark:fill-white size-6 hover:fill-primary-light dark:hover:fill-primary-dark duration-500"
      />
    </a>
  </li>
  <li>
    <a href={linkedinUrl} target="_blank" aria-label="Linkedin">
      <LinkedinIcon
        class="fill-black dark:fill-white size-6 hover:fill-primary-light dark:hover:fill-primary-dark duration-500"
      />
    </a>
  </li>
  <li>
    <a
      href={emailUrl}
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Email"
    >
      <EmailIcon
        class="fill-black dark:fill-white size-6 hover:fill-primary-light dark:hover:fill-primary-dark duration-500"
      />
    </a>
  </li>
</ul>
